<%
function formatDateTime(input) {
  const d = new Date(input);
  return `${d.getFullYear()}-${String(d.getMonth()+1).padStart(2, '0')}-${String(d.getDate()).padStart(2, '0')} ${String(d.getHours()).padStart(2, '0')}:${String(d.getMinutes()).padStart(2, '0')}:${String(d.getSeconds()).padStart(2, '0')}`;
}
%>
<%
  // 计算 star 总数
  let count = 0;
  for (let [, repositories] of stars) {
    count += repositories.length;
  }
  let date = `${new Date().getDate()}--${new Date().getMonth() + 1}--${new Date().getFullYear()}`;
%>

<div align="center">

# awesome-stars

[![Awesome](https://awesome.re/badge.svg)](https://awesome.re)
[![Auth](https://img.shields.io/badge/Auth-varcli-ff69b4?logo=github)](https://github.com/varcli)
[![GitHub Pull Requests](https://img.shields.io/github/stars/varcli/awesome-stars?logo=Undertale)](https://github.com/varcli/awesome-stars/stargazers)
[![HitCount](https://views.whatilearened.today/views/github/varcli/awesome-stars.svg)](https://github.com/varcli/awesome-stars)
[![GitHub license](https://img.shields.io/github/license/varcli/awesome-stars)](https://github.com/varcli/awesome-stars/blob/main/LICENSE)
[![](https://img.shields.io/badge/%E6%92%AD%E5%AE%A2-varcli-da282a?logo=Blogger)](https://blog.varcli.com)
[![](https://img.shields.io/badge/awesome-stars-c780fa?logo=Awesome-Lists)](https://github.com/varcli/awesome-stars#readme)
<% if (count) {														-%>
![Total](https://img.shields.io/badge/Total-<%= count %>-green.svg)
<% }															    -%>
<% if (date) {														-%>
![Updated](https://img.shields.io/badge/Updated-<%= date %>-blue.svg)
<% }															    -%>

🤩 我的star列表，自动更新 🤩
</div><br>

## 🏠 Contents

<% for(let [language, repositories] of stars) { %>
- [<%= language.replace(/\s/g, " ") %> (<%= repositories.length %>)](#<%= language.replace(/\s/g, " ") -%>)
<% } %>

<% for(let [language, repositories] of stars) { %>
## <%= language %>

| No. | Name | Description | Author | Stars | Topic | Last Update |
|---	|---	|---	|---	|---	|--- |--- |
<% for (let i = 0; i < repositories.length; i++) { 
    const repo = repositories[i]; 
    const name = repo.full_name;
    const url = repo.html_url;
    const desc = repo.description?.replace(/\r?\n|\|/g, ' ') || '';  // 去除换行与管道符
    const author = repo.owner?.login || '';
    const stars = repo.stargazers_count;
    const topics = repo.topics.map(t => `\`${t}\``).join(' ');
    const updated = formatDateTime(repo.updated_at);
    const isHot = (Date.now() - new Date(repo.updated_at).getTime()) / (1000 * 3600 * 24) <= 30;
    const fire = isHot ? '🔥 ' : '';
    const line = `| ${i + 1} | [${name}](${url}) | ${fire}${desc} | ${author} | ⭐ ${stars} | ${topics} | ${updated} |`;
%><%- line %>
<% } %>

**[⬆ Back to Index](#-contents)**

<% } %>

## Thanks

- generated with [simonecorsi/mawesome](https://github.com/simonecorsi/mawesome)